To reset your verification code please provide a screenshot to prove ownership. We have attached an example screenshot showing what we need to see below.

{{screenshot-full}}

> Keep in mind that verification codes should be secret. They can be used to edit or delete a group, so please be mindful of who you choose to share it with.

{{reminder}}
