To reset your verification code please provide a screenshot to prove ownership. We have attached an example screenshot showing what we need to see below.

**Screenshot requirements**

- Todays date
- Your discord username or ID
- Your Wise Old Man group ID (found in the header of your group page)

All typed into the in-game chat box.

- Your clan tab open showing your username and rank.

For clans you must be `Owner` or `Deputy Owner`. For the old clan chat, you must be `Owner` or `General`. For group ironman groups, you must be `Owner`.

> Keep in mind that verification codes should be secret. They can be used to edit or delete a group, so please be mindful of who you choose to share it with.
